
    h1 {
        color: blue; /* Set text color to blue */
        font-size: 28px; /* Increase font size */
    }

    
    p {
        font-size: 16px; /* Set font size to 16px */
        color: red;
        
    }
