table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color:#007bff;
    color: white;
    padding: 10px;
}
td{
    border: 1px solid #ccc;
    padding: 10px;
}

@media (max-width:600px){
    table{
        font-size: 14px;
    }
    th,td{display: block;
    }
    th{
        text-align: left;
    }
}